
<!-- <app-account></app-account> -->


<mat-toolbar color="primary" class="app-toolbar">
    <div style="display: flex; flex-direction: row; width: 100%;">

      <img class="logo" [src]="'../assets/payment.png'" alt="logo" (click)="isLoggedIn? drawer.toggle(): undefined" />

      <div class="toolbar-row" >
        <span style="font-size: 22px;">Simple Payment System</span>
        <span style="font-size: 15px;">Simple Payment System</span>
      </div>


      <div class="toolbar-row" style="display: inline;">

        <span>
          <strong>Simple-Payments</strong>
        </span>
        <span>
          - {{pageTitle}}
        </span>




      </div>
      <div class="toolbar-row toolbar-login" >
        <button mat-button  *ngIf="!isLoggedIn" (click)="login()">Login</button>
        <button mat-button *ngIf="isLoggedIn" [matMenuTriggerFor]="menu" >logout</button>
        <mat-menu #menu="matMenu">
          <button  mat-menu-item (click)="logout()" >Logout</button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>


  <mat-sidenav-container fullScreen class="sidenav-container">
    <mat-sidenav  #drawer class="sidenav" fixedInViewPort="true" [attr.role]="smallScreen ? 'dialog' : 'navigation'"
      [mode]="smallScreen? 'over': 'side'" [opened]="isLoggedIn">
      <mat-nav-list>
        <a *ngIf="isLoggedIn" mat-list-item routerLink="/account-list">Account </a>
        <mat-divider ></mat-divider>
        <a *ngIf="isLoggedIn"  mat-list-item routerLink="/currency">Currency</a>
      </mat-nav-list>
      <mat-divider ></mat-divider>
      <mat-nav-list>
        <a *ngIf="isLoggedIn" mat-list-item routerLink="/payment-list">Payment Stystem</a>

      </mat-nav-list>
      <mat-divider></mat-divider>

    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content" >
      <router-outlet></router-outlet>
      <div  class="app-footer">
        <span>Developed By</span>
        <span>Sagar Adhikari</span>
        <span style="font-size: 10px;">ph. No: 9843650962</span>
        <span style="font-size: 10px;">email: sgradhikari48@gmail.com</span>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
