<div class="body-container" style="height: 100%;">
  <form
    class="account-form"
    novalidate
    [formGroup]="paymentForm"
    (ngSubmit)="onSubmit(paymentForm)"
  >
    <strong>Payment System </strong>
    <div class="flex-row">
      <mat-form-field class="mat-form-field">
        <input
          type="number"
          matInput
          placeholder="Amount"
          autocomplete="off"
          formControlName="amount"
          autofocus
          required
        />
        <mat-error>Amount is not in correct format.</mat-error>
        <mat-hint>Enter Amount.</mat-hint>
      </mat-form-field>
    </div>
    <div class="flex-row">
      <mat-form-field class="item">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="currencyCode" required>
          <mat-option *ngFor="let list of currencyList" [value]="list">
            {{ list }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
     <div class="flex-row">
      <mat-form-field class="item">
        <mat-label>Destination Account Number</mat-label>
        <mat-select formControlName="destinationAccountNumber" (selectionChange)="onDestinationAccountNumberChanged($event)" required>
          <mat-option *ngFor="let account of destinationAccountList" [value]="account">
            {{ account }}
          </mat-option>
        </mat-select>
        <mat-hint>select the account  Number.</mat-hint>
      </mat-form-field>
    </div>
    <div class="flex-row">
      <mat-form-field class="mat-form-field">
        <input
          matInput
          placeholder="Payment Description"
          autocomplete="off"
          formControlName="paymentDescription"
        />
        <mat-error>Description is not in correct format.</mat-error>
        <mat-hint>Enter Description of Account.</mat-hint>
      </mat-form-field>
    </div>
    <div class="flex-row">
      <mat-form-field class="item">
        <mat-label>Source Account Number</mat-label>
        <mat-select formControlName="sourceAccountNumber" (selectionChange)="onSourceAccountNumberChanged($event)" required>
          <mat-option *ngFor="let account of sourceAccountList" [value]="account">
            {{ account }}
          </mat-option>
        </mat-select>
        <mat-hint>select the account  Number.</mat-hint>
      </mat-form-field>
    </div>
    <div style="display: flex; ">
      <div class="item">
        <button mat-raised-button color="primary" style="width: 100px; ">
          {{ this.paymentId? 'Back' : 'Save'}}
        </button>
      </div>
    </div>
  </form>
</div>
