
<div class="body-container" style="height: 100%;">
    <form  class="account-form" novalidate [formGroup]="accountForm" (ngSubmit)="onSubmit(accountForm)">
        <strong  >Account </strong>

        <!-- <div style="display: flex; align-self: center;"> -->
              <div class="flex-row">
            <mat-form-field class="mat-form-field">
                <input
                matInput
                placeholder="Account Description"
                autocomplete="off"
                formControlName = "accountDescription"
                autofocus
                />
               <mat-error>Description is not in correct format.</mat-error>
               <mat-hint>Enter Description of Account.</mat-hint>
            </mat-form-field>
        </div>

        <div class="flex-row" >
            <mat-form-field class="mat-form-field">
                <input
                matInput
                placeholder="Account Holder Name"
                autocomplete="off"
                formControlName = "accountHolderName"

                />
               <!-- <mat-error>Description is not in correct format.</mat-error>
               <mat-hint>Enter Description of Account.</mat-hint> -->
            </mat-form-field>
        </div>
        <!-- </div> -->
<!--
<div style="display: flex;align-self: center; "> -->
   <div class="flex-row">
            <mat-form-field class="mat-form-field">
                <input
                matInput
                placeholder="Account Holder Phone Number"
                autocomplete="off"
                formControlName = "accountHolderPhoneNumber"

                />
               <!-- <mat-error>Description is not in correct format.</mat-error>
               <mat-hint>Enter Description of Account.</mat-hint> -->
            </mat-form-field>
        </div>
        <div class="flex-row"  >
            <mat-form-field class="mat-form-field">
                <input
                matInput
                placeholder="Account Number"
                autocomplete="off"
                formControlName = "accountNumber"

                />
                <mat-error>Account Nummber length is not valid (6).</mat-error>
                <mat-hint>Enter Number.</mat-hint>
               <!-- <mat-error>Description is not in correct format.</mat-error>
               <mat-hint>Enter Description of Account.</mat-hint> -->
            </mat-form-field>
        </div>
        <div style="display: flex; ">
            <div class="item">
                <button mat-raised-button color="primary" style="width: 100px;" >
                  {{ this.accountId? 'Back' : 'Save'}}
                </button>
            </div>
        </div>

    </form>
</div>
