
<div class="body-container" style="height: 100%;">
    <form  class="account-form" novalidate [formGroup]="accountForm" (ngSubmit)="onSubmit(accountForm)">
        <strong  >Account </strong>

        <!-- <div style="display: flex; align-self: center;"> -->
              <div class="flex-row">
            <mat-form-field class="mat-form-field">
                <input
                matInput
                placeholder="Account Description"
                autocomplete="off"
                formControlName = "accountDescription"
                autofocus
                />
               <mat-error>Description is not in correct format.</mat-error>
               <mat-hint>Enter Description of Account.</mat-hint>
            </mat-form-field>
        </div>

        <div class="flex-row" >
            <mat-form-field class="mat-form-field">
                <input
                matInput
                placeholder="Account Holder Name"
                autocomplete="off"
                formControlName = "accountHolderName"

                />
               <!-- <mat-error>Description is not in correct format.</mat-error>
               <mat-hint>Enter Description of Account.</mat-hint> -->
            </mat-form-field>
        </div>
        <!-- </div> -->
<!--
<div style="display: flex;align-self: center; "> -->
   <div class="flex-row">
            <mat-form-field class="mat-form-field">
                <input
                matInput
                placeholder="Account Holder Phone Number"
                autocomplete="off"
                formControlName = "accountHolderPhoneNumber"

                />
               <!-- <mat-error>Description is not in correct format.</mat-error>
               <mat-hint>Enter Description of Account.</mat-hint> -->
            </mat-form-field>
        </div>
        <div class="flex-row"  >
            <mat-form-field class="mat-form-field">
                <input
                matInput
                placeholder="Account Number"
                autocomplete="off"
                formControlName = "accountNumber"

                />
                <mat-error>Account Nummber length is not valid (6).</mat-error>
                <mat-hint>Enter Number.</mat-hint>
               <!-- <mat-error>Description is not in correct format.</mat-error>
               <mat-hint>Enter Description of Account.</mat-hint> -->
            </mat-form-field>
        </div>

<!-- </div> -->




        <!-- <div class="flex-row" *ngIf="!userId">
            <mat-form-field class="item">
                <input
                matInput
                placeholder="Password"
                autocomplete="off"
                formControlName = "password"
                [type]="hidePassword ? 'password' : 'text'"
                (blur)="hidePassword= true"
                />
                <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
                hidePassword? 'visibility' : 'visibility_off'
                }}</mat-icon>
                <mat-error>Password length is not valid (6 to 15).</mat-error>
                <mat-hint>Enter password.</mat-hint>
            </mat-form-field>
       </div> -->
         <!-- <div class="flex-row">
            <mat-form-field class="item">
                <mat-label>Role</mat-label>
                <mat-select formControlName="roleId">
                    <mat-option  *ngFor="let role of roleList"
                        [value]="role.id">
                        {{role.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex-row">
            <mat-form-field class="item">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option *ngFor="let status of statusList"
                        [value]="status.id">
                        {{status.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
        <div style="display: flex; ">
            <div class="item">
                <button mat-raised-button color="primary" style="width: 100px; ">
                Save
                </button>
            </div>
        </div>

    </form>
</div>
